@use '@angular/material' as mat;
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: 'Dosis', serif;
}

.btn_primary{
  @apply flex items-center justify-center gap-2  w-fit text-sm bg-primary_green hover:bg-green-500 text-white font-medium max-sm:px-1 max-sm:py-1 px-4 py-2 border rounded-md outline-none border-none;
  &:disabled{
    @apply opacity-50 cursor-not-allowed;
  }
}
.btn_error{
  @apply  w-fit text-sm bg-red-500 hover:bg-red-600 text-white font-medium px-4 py-2 border rounded-md outline-none border-none;
}
.mat-typography{
  font-family: 'Dosis', serif !important;

}

.dialogBackdropBackground {
  @apply backdrop-blur-sm;
}
// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.snack-bar-overrides((
    container-color:'inherent',
  ));
}
.mat-mdc-snack-bar-container{
  @apply rounded-xl;
}
.success-snackbar {
  background-color: #4caf50 !important; /* Zelena boja za uspeh */
  color: white;
}

.error-snackbar {
  background-color: #f44336 !important; /* Crvena boja za grešku */
  color: white;

}