# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
.angular

# Capacitor native projects
/apps/gde-sa-psom-mobile/android
/apps/gde-sa-psom-mobile/ios
