<div class="container">
  <div class="logo-container">
    <img src="assets/logo-normal.png" alt="Gde sa psom">
    <h2>Sign in to your account</h2>
  </div>

  <div class="form-container">
    <form [formGroup]="signinForm">
      <div class="input-group">
        <label for="email" class="label">Email address</label>
        <div class="input-wrapper">
          <input formControlName="email" type="email" name="email" id="email" autocomplete="email" required>
        </div>
      </div>

      <div class="input-group input-group--password">
        <label for="password" class="label">Password</label>
        <div class="input-wrapper">
          <input formControlName="password" type="password" name="password" id="password" autocomplete="current-password" required>
        </div>
      </div>

      <div>
        <button (click)="signIn()" type="submit" class="submit-btn">Sign in</button>
      </div>
    </form>
  </div>
</div>
