<div class="flex min-h-[60vh] flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm text-center">
    <img src="assets/logo-normal.png" alt="Gde sa psom" class="mx-auto h-20 w-auto" loading="lazy" />
    <h2 class="mt-8 font-display text-2xl font-bold">Sign in to your account</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form [formGroup]="signinForm" class="space-y-6">
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Email address</span>
        </div>
        <input
          formControlName="email"
          type="email"
          name="email"
          id="email"
          autocomplete="email"
          class="input input-bordered w-full"
          required
        />
      </label>

      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Password</span>
        </div>
        <input
          formControlName="password"
          type="password"
          name="password"
          id="password"
          autocomplete="current-password"
          class="input input-bordered w-full"
          required
        />
      </label>

      <button (click)="signIn()" type="submit" class="btn btn-secondary w-full">
        Sign in
      </button>
    </form>
  </div>
</div>
