<h1 mat-dialog-title>Ime: {{data?.iuo_ime}} - {{data?.grd_ime}}</h1>
<mat-dialog-content>
  <div class="spot-details-container">
    <p >Images:</p>

    <div class="carousel w-full">
        <div id="slide1" class="carousel-item relative w-full" [ngClass]="{'active': currentSlide === 1}">
          <img [src]="data?.iuo_slika_base64" class="carousel-image" />
          <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
            <a href="#" (click)="goToSlide($event,2)" class="btn btn-circle">❮</a>
            <a href="#" (click)="goToSlide($event,2)" class="btn btn-circle">❯</a>
          </div>
        </div>
      
        <div id="slide2" class="carousel-item relative w-full" [ngClass]="{'active': currentSlide === 2}">
          <img [src]="data?.iuo_slika_base64_unutra" class="carousel-image" />
          <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
            <a href="#" (click)="goToSlide($event,1)" class="btn btn-circle">❮</a>
            <a href="#" (click)="goToSlide($event,1)" class="btn btn-circle">❯</a>
          </div>
        </div>
      </div>
  </div>

      <div class="spot-details-container grid gap-2">
        <p >Location:</p>
        <div id="map" style="height: 300px"></div>
      </div>

</mat-dialog-content>
<mat-dialog-actions >
  <button class="btn btn_primary" (click)="onNoClick()">Close</button>
</mat-dialog-actions>
