<h1
  class="text-2xl text-black font-bold px-8 py-4 flex items-center justify-between gap-10"
>
  {{ 'suggest_spot' | transloco }}
  <svg
    (click)="onNoClick()"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="size-7 cursor-pointer"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M6 18 18 6M6 6l12 12"
    />
  </svg>
</h1>
<mat-dialog-content>
  <form [formGroup]="spotForm">
    @if(spotForm.invalid && spotForm.touched){

      <mat-error >{{"required" | transloco}}</mat-error>
    }
    <div class="input-wrapper grid gap-4 pb-4">
      <div class="label-input flex items-start gap-2 flex-col">
        <span class="text-md font-medium">{{ 'spot_name' | transloco }}</span>
        <input
          id="iuo_ime"
          formControlName="iuo_ime"
          type="text"
          [placeholder]="'spot_name' | transloco"
          class="input bg-slate-300 input-bordered w-full"
          [ngClass]="{'border-red-600': (spotForm.invalid && spotForm.touched)}"
        />
      </div>

      <div class="label-input flex items-start gap-2 flex-col">
        <span class="text-md font-medium">{{ 'address' | transloco }}</span>
        <input
          id="iuo_adressa"
          formControlName="iuo_adressa"
          type="text"
          [placeholder]="'address' | transloco"
          class="input bg-slate-300 input-bordered w-full"
          [ngClass]="{'border-red-600': (spotForm.invalid && spotForm.touched)}"

        />
      </div>
      <div class="label-input flex items-start gap-2 flex-col">
        <span class="text-md font-medium">{{
          'site_network' | transloco
        }}</span>
        <input
          id="iuo_link_web"
          formControlName="iuo_link_web"
          type="text"
          [placeholder]="'site_network' | transloco"
          class="input bg-slate-300 input-bordered w-full"
          [ngClass]="{'border-red-600': (spotForm.invalid && spotForm.touched)}"

        />
      </div>
      <div class="label-input flex items-start gap-2 flex-col">
        <span class="text-md font-medium">{{
          'phone' | transloco
        }}</span>
        <input
          id="phone"
          formControlName="iuo_telefon"
          type="text"
          [placeholder]="'phone' | transloco"
          class="input bg-slate-300 input-bordered w-full"
        />
      </div>
      <div class="label-input flex items-start gap-2 flex-col">
        <span class="text-md font-medium">{{
          'image_outside' | transloco
        }}</span>
        <input
          id="iuo_slika"
          formControlName="iuo_slika"
          type="file"
          class="bg-slate-300 file-input file-input-bordered w-full"
          [ngClass]="{'border-red-600': (spotForm.invalid && spotForm.touched)}"
          (change)="onFileChangeOutside($event)"
        />
      </div>
      <div class="label-input flex items-start gap-2 flex-col">
        <span class="text-md font-medium">{{
          'image_inside' | transloco
        }}</span>
        <input
          id="iuo_slika_unutra"
          formControlName="iuo_slika_unutra"
          type="file"
          class="bg-slate-300 file-input file-input-bordered w-full"
          (change)="onFileChangeInside($event)"
        />
      </div>
      <div class="label-input flex items-start gap-2 flex-col">
        <span class="text-md font-medium">{{
          'short_description' | transloco
        }}</span>
        <textarea
          id="iuo_opis"
          formControlName="iuo_opis"
          [placeholder]="'short_description' | transloco"
          class="textarea textarea-bordered w-full bg-slate-300"
        ></textarea>
      </div>
    </div>
 
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="btn btn_error" (click)="onNoClick()">
    {{ 'close' | transloco }}
  </button>
  <button class="btn btn_primary" [disabled]="spotForm.invalid" (click)="onSaveClick()">
    {{ 'save' | transloco }}
  </button>
</mat-dialog-actions>
