<section class="bg-base-200 rounded-2xl my-12" data-aos="fade-right" data-aos-duration="500">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <h2 class="mb-4 font-display text-4xl font-bold text-center">{{ 'contact_us' | transloco }}</h2>
    <p class="mb-8 lg:mb-16 text-center text-base-content/60 sm:text-lg">{{ 'contact_description' | transloco }}</p>
    <form [formGroup]="contactForm" class="space-y-6">
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">{{ 'your_email' | transloco }}</span>
        </div>
        <input type="email" id="email" formControlName="email" class="input input-bordered w-full" placeholder="name@domain.com" required />
      </label>

      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">{{ 'subject' | transloco }}</span>
        </div>
        <input type="text" id="subject" formControlName="subject" [placeholder]="'subject' | transloco" class="input input-bordered w-full" required />
      </label>

      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">{{ 'message' | transloco }}</span>
        </div>
        <textarea id="message" rows="6" [placeholder]="'message' | transloco" formControlName="message" class="textarea textarea-bordered w-full"></textarea>
      </label>

      <button type="submit" (click)="onSubmit()" [disabled]="contactForm.invalid" class="btn btn-secondary w-full sm:w-auto">
        {{ 'send_message' | transloco }}
      </button>
    </form>
  </div>
</section>