<div class="landing-page-wrapper" data-aos="fade-right" data-aos-duration="2000">
  <div class="hero-container">
    <div class="hero__title">
      <h1 class="flex items-center ">
        <span class="text-primary_green whitespace-nowrap">Gde sa psom?</span>
        - Mesto gde su vaši ljubimci dobrodošli!
      </h1>
    </div>
    <div class="hero__description">
      <p>
        Da li ste se ikada zapitali gde možete otići sa svojim psom bez brige? 
        Mi smo tu da vam olakšamo! Gde sa psom je platforma nastala iz ljubavi prema ljubimcima i želje da svako uživa u njihovom društvu – bilo u restoranu, kafiću ili hotelu.
      </p>
    </div>
    <button class="btn w-fit hidden md:block bg-primary_green hover:bg-green-500 text-white font-medium px-4 py-2 border rounded-md">
      Explore spots
    </button>
  </div>

  <div class="image-wrapper">
    <div class="shape">
      <img src="assets/dog.png" alt="Dog illustration" />
    </div>
    <div class="shape-reverse">
      <img src="assets/cat.png" alt="Cat illustration" />
    </div>
  </div>
</div>
