<div class="py-8 space-y-24 max-sm:space-y-12">
  <div class="flex items-center justify-center gap-12 max-sm:flex-col max-sm:gap-6" data-aos="fade-down" data-aos-duration="800">
    <img src="assets/small.png" alt="Pas dobrodošao u pet-friendly objektima u Srbiji" class="w-64 max-sm:w-40 rounded-3xl" loading="lazy" />
    <div class="space-y-4 max-w-lg">
      <h1 class="font-display text-4xl font-bold max-sm:text-center">{{ 'who_we_are' | transloco }}</h1>
      <p class="text-lg text-base-content/70">{{ 'site_info' | transloco }}</p>
    </div>
  </div>

  <div class="flex items-center justify-center gap-12 max-sm:flex-col-reverse max-sm:gap-6" data-aos="fade-down" data-aos-duration="800">
    <div class="space-y-4 max-w-lg">
      <h2 class="font-display text-4xl font-bold max-sm:text-center">{{ 'free_use' | transloco }}</h2>
      <p class="text-lg text-base-content/70">{{ 'free_use_description' | transloco }}</p>
    </div>
    <img src="assets/free-access.jpg" alt="Besplatna pretraga pet-friendly lokacija" class="w-64 max-sm:w-40 rounded-3xl" loading="lazy" />
  </div>

  <div class="flex items-center justify-center gap-12 max-sm:flex-col max-sm:gap-6" data-aos="fade-down" data-aos-duration="800">
    <img src="assets/add-spot.png" alt="Kako dodati pet-friendly restoran ili kafić na Gde sa psom" class="w-64 max-sm:w-40 rounded-3xl" loading="lazy" />
    <div class="space-y-4 max-w-lg">
      <h3 class="font-display text-4xl font-bold max-sm:text-center">{{ 'how_to_suggest' | transloco }}</h3>
      <p class="text-lg text-base-content/70">{{ 'how_to_suggest_description' | transloco }}</p>
    </div>
  </div>

  <div class="flex items-center justify-center gap-12 max-sm:flex-col-reverse max-sm:gap-6" data-aos="fade-down" data-aos-duration="800">
    <div class="space-y-4 max-w-lg">
      <h3 class="font-display text-4xl font-bold max-sm:text-center">{{ 'important_to_know' | transloco }}</h3>
      <p class="text-lg text-base-content/70">{{ 'important_to_know_description' | transloco }}</p>
    </div>
    <img src="assets/logo-normal.png" alt="Important to know" class="w-64 max-sm:w-40" loading="lazy" />
  </div>
</div>
