<div class="about-container">
  <div class="about-wrapper" data-aos="fade-up" data-aos-duration="800">
    <img src="assets/small.png" alt="" />
    <div class="text-wrapper">
      <h1 class="about-subtitle">Ko smo mi?</h1>
      <p class="about-description">
        Dobrodošli na Gde sa psom – platformu kreiranu sa ljubavlju prema
        ljubimcima! Ideja je proistekla iz svakodnevnih izazova vlasnika dva
        velika psa i udomljene mačke, koji su želeli da svako može uživati u
        društvu svog ljubimca bez brige o tome gde su dobrodošli. Naš cilj je da
        vlasnicima pasa omogućimo jednostavan način da pre polaska u restoran,
        kafić ili hotel saznaju da li je ljubimac dobrodošao.
      </p>
    </div>
  </div>

  <div class="about-wrapper" data-aos="fade-up" data-aos-duration="800">
    <img src="assets/magnifier.png" alt="" />
    <div class="text-wrapper">
      <h2 class="about-subtitle">Potpuno besplatno!</h2>
      <p class="about-description">
        Korišćenje sajta je potpuno besplatno – i za korisnike i za vlasnike
        ugostiteljskih objekata. Takođe, dodavanje novih objekata na našu
        platformu je jednostavno i besplatno, jer verujemo da svaka informacija
        doprinosi zajednici.
      </p>
    </div>
  </div>

  <div class="about-wrapper" data-aos="fade-up" data-aos-duration="800">
    <img src="assets/logo.png" alt="">
    <div class="text-wrapper">
      <h3 class="about-subtitle">Kako predložiti ugostiteljski objekat?</h3>
      <p class="about-description">
        Klikom na dugme "Predloži", otvoriće se jednostavan obrazac (modal) gde
        možete uneti potrebne podatke o objektu. Nakon toga, informacije će biti
        pregledane i objavljene na sajtu.
      </p>
    </div>
  </div>

  <div class="about-wrapper" data-aos="fade-up" data-aos-duration="800">
    <img src="assets/logo-normal.png" alt="">

    <div class="text-wrapper">
      <h3 class="about-subtitle">Važno je znati!</h3>
      <p class="about-description">
        Sve informacije na sajtu dolaze iz iskustava korisnika. Imajte na umu da
        se pravila ugostiteljskih objekata prema ljubimcima mogu promeniti. Pre
        posete, uvek je dobro dodatno proveriti informacije direktno sa
        objektom.
      </p>
    </div>
  </div>
</div>
