<div class="pet-spots-container">
  <div class="filter-wrapper">
    <label class="input input-bordered flex items-center gap-2 w-[300px]">
      <input type="text" [formControl]="search" class="grow" placeholder="Search by name" />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="h-4 w-4 opacity-70"
      >
        <path
          fill-rule="evenodd"
          d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
          clip-rule="evenodd"
        />
      </svg>
    </label>
    Or select filter
    <div class="select-wrapper">
      <form [formGroup]="form" class="flex gap-8">
        <!-- Opstina (Multiple Select) -->
        <mat-form-field>
          <mat-label>Opstina</mat-label>
          <mat-select formControlName="ops_id" multiple>
            <mat-option [value]="[]">--</mat-option>
            @for (item of opstine(); track $index) {
            <mat-option [value]="item?.id">
              {{ item.ime }}
            </mat-option>
            }
          </mat-select>
          <mat-error *ngIf="form.get('ops_id')?.hasError('required')">
            Please choose at least one township
          </mat-error>
        </mat-form-field>

        <!-- Starost (Single Select) -->
        <mat-form-field>
          <mat-label>Starost</mat-label>
          <mat-select formControlName="sta_id">
            <mat-option [value]="null">--</mat-option>
            @for (item of spotsStore.allowed(); track $index) {

            <mat-option [value]="item.id">
              {{ item.ime }}
            </mat-option>
            }
          </mat-select>
          <mat-error *ngIf="form.get('sta_id')?.hasError('required')">
            Please choose a allowed type
          </mat-error>
        </mat-form-field>

        <!-- Tip objekta (Single Select) -->
        <mat-form-field>
          <mat-label>Tip objekta</mat-label>
          <mat-select formControlName="ugo_id">
            <mat-option [value]="null">--</mat-option>
            @for (item of tipObjekta(); track $index) {
            <mat-option [value]="item.id">
              {{ item.ime }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </form>
      <button class="btn btn_primary" (click)="onSubmit()">
        Search
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
          />
        </svg>
      </button>

      <button
        class="btn btn_primary"
        [disabled]="
          !form.get('sta_id')?.value &&
          !form.get('ugo_id')?.value &&
          !form.get('ops_id')?.value
        "
        (click)="clearFilters()"
      >
        Clear filters
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18 18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
  </div>
  <div class="spots-container grid gap-8">
    @if(spotsStore.isLoading()){
    <span class="loading loading-ring loading-lg"></span>

    }@else {

    <app-card
      [data]="spotsStore.spots()"
      [isLoading]="spotsStore.isLoading()"
    ></app-card>
    @if(spotsStore.spots().length!=spotsStore.totalResult()){
    <button
      [disabled]="spotsStore.isLoading()"
      (click)="spotsStore.loadMore()"
      class="btn_primary w-full"
    >
      Load more
    </button>
    } }
  </div>
</div>
