::ng-deep {
  .mat-pseudo-checkbox-full.mat-pseudo-checkbox-checked,
  .mat-pseudo-checkbox-full.mat-pseudo-checkbox-indeterminate {
    background-color: oklch(var(--s)) !important;
    border-color: oklch(var(--s)) !important;
    svg {
      color: oklch(var(--sc)) !important;
    }
  }

  .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
    background-color: oklch(var(--s)) !important;
  }

  .mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: oklch(var(--s)) !important;
  }

  .mat-mdc-select-arrow {
    color: oklch(var(--s)) !important;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label {
    color: oklch(var(--s)) !important;
  }

  .mdc-checkbox__native-control:focus:focus:checked ~ .mdc-checkbox__background,
  .mdc-checkbox__native-control:focus:focus:indeterminate ~ .mdc-checkbox__background {
    background-color: oklch(var(--s)) !important;
    border-color: oklch(var(--s)) !important;
  }

  .mdc-checkbox:hover .mdc-checkbox__native-control:checked ~ .mdc-checkbox__background,
  .mdc-checkbox:hover .mdc-checkbox__native-control:indeterminate ~ .mdc-checkbox__background {
    background-color: oklch(var(--s)) !important;
    border-color: oklch(var(--s)) !important;
  }

  .mdc-checkbox:active .mdc-checkbox__native-control:checked ~ .mdc-checkbox__ripple {
    opacity: 0.1 !important;
    background-color: oklch(var(--s)) !important;
  }

  .mdc-checkbox .mdc-checkbox__native-control:focus:checked ~ .mdc-checkbox__ripple {
    opacity: 0.1 !important;
    background-color: oklch(var(--s)) !important;
  }

  .mdc-checkbox:hover .mdc-checkbox__native-control:checked ~ .mdc-checkbox__ripple {
    opacity: 0.05 !important;
    background-color: oklch(var(--s)) !important;
  }

  .mdc-checkbox__mixedmark {
    border-color: oklch(var(--sc)) !important;
  }
}
  