<!-- <footer class="footer shadow-xl dark:bg-gray-950 bg-slate-100 text-base-300 p-6 text-sm font-semibold">
    <nav>
      <h6 class="footer-title">Services</h6>
      <a class="link link-hover">Branding</a>
      <a class="link link-hover">Design</a>
      <a class="link link-hover">Marketing</a>
      <a class="link link-hover">Advertisement</a>
    </nav>
    <nav>
      <h6 class="footer-title">Company</h6>
      <a class="link link-hover">About us</a>
      <a class="link link-hover">Contact</a>
      <a class="link link-hover">Jobs</a>
      <a class="link link-hover">Press kit</a>
    </nav>
   
  </footer> -->
  <div class="text-sm w-full flex justify-center bg-gray-950 text-white p-3">
    Copyright © 2021-{{date}} Designed And Developed By — <a class="link link-hover" referrerpolicy="no-referrer" href="https://www.linkedin.com/in/milos-cirkovic99/" target="_blank">Miloš Ćirković </a>
</div>